@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{margin: 0; padding: 0;}
li{list-style: none;}
a{color: black;}
a:hover{text-decoration: none; color: black;}
.fff{
    color: white;
}
button{
    border: none;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7fad39;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: chartreuse;
  }